<!DOCTYPE html>
<html xmlns="www.thymeleaf.org">
<head th:fragment="cabecera">
<meta charset="UTF-8"></meta>
<title>Aplicacion Presupuestos</title>
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet"/> 
<link rel="stylesheet" href="/css/general.css"/>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div th:fragment="menu">
	<ul>
		<li><a th:href="@{/index}">Inicio</a></li>
		<li><a th:href="@{/admin/unidades}">unidades</a></li>
		<li><a th:href="@{/admin/tipoSuministro}">Tipo Suministro</a></li>
		<li><a th:href="@{/admin/tipoActividad}">Tipo Actividad</a></li>
		<li><a th:href="@{/admin/estadoCompra}">Estado Compra</a></li>
		<li><a th:href="@{/admin/suministro}">Suministro</a></li>
		<li><a th:href="@{/admin/apu}">APU</a></li>
<!-- 		<li><a th:href="@{/admin/actividad}">Actividad</a></li> -->
		<li><a th:href="@{/admin/presupuesto}">Presupuesto</a></li>
		<li><a th:href="@{/admin/role}">Role</a></li>
	</ul>
</div>
</body>
</html>